.card {
    width: 350px;
    float: left;
    margin: 1rem;
}

/* @media(max-width:576px) {
    .card {
        width: 100% !important;
        justify-content: space-around !important;
    }
} */

/* @media(max-width:1200px) {
    .card {
        width: 40%;
        justify-content: space-around !important;
    }
} */

/* @media(max-width:768px) {
    .card {
        width: 50%
    }
} */

.table {
    table-layout: fixed;
}
