.header-row {
  height: 60px
}

.main {
  align-items: stretch;
  height: calc(100% - 120px);
}

.display-container {
  height: 100%;
}
@media(max-width: 768px) {
  .display-container {
    height: 70%;
  }
}

.main-display {
    height: 80%;
}

.pagination-bar {
    height: 20%;
}

.center {
  justify-content: space-evenly;
}

@media(max-width:768px) {
  .center {
      justify-content: space-around !important;
  }
}

/* @media(max-width:768px) {
  .card {
      width: 50%
  }
} */

.w-40 {
  width: 40% !important;
}