html,
body,
#root,
.App,
.center,
.side,
.display-center {
  height: 100%;
}

@media(max-width: 768px) {
  .center, .side {
    height: 70%;
  }
  .side {
    height: 30%
  }
}

/* .center::after {
  content: "";
  flex: auto;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
